.navbar-brand {
    font-size: 25px;
}
.navbar-item {
  color: black;
    font-size: 25px;
    border-radius: 5px;
}
html, body { height: 95vh; background-color: #eee; }
.footer {
  padding: 3px 1px 1px 3px;
  background-color: blueviolet;
  color:white;
  border-radius: 5px;
  height: 5vh;
  margin-bottom:5vh;
}
.card {
  max-width: 600px;
  margin-top: 50px;
  background-color: white;
}