{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3 mt-3">About Book Collector</h1>
<section class="section mx-6 mt-1">
    <section class="section has-background-light my-3">
        <h2 class="title is-5 my-3">Development</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna
            aliqua. Libero nunc consequat interdum varius sit amet. Bibendum arcu vitae elementum curabitur vitae nunc
            sed
            velit
            dignissim. Vitae nunc sed velit dignissim. Est ullamcorper eget nulla facilisi etiam. Sit amet porttitor
            eget
            dolor.
            Nulla pharetra diam sit amet nisl. Dui sapien eget mi proin sed libero enim. Proin nibh nisl condimentum id.
            Ac
            tincidunt vitae semper quis. In est ante in nibh mauris.</p>
    </section>

    <section class="section has-background-light my-3">
        <h2 class="title is-5 my-3">History</h2>
        <p>Euismod in pellentesque massa placerat. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada
            nunc.
            Porta
            non pulvinar neque laoreet suspendisse interdum consectetur libero. Duis ut diam quam nulla. Sed elementum
            tempus
            egestas sed sed risus. Nulla facilisi morbi tempus iaculis. Tellus in metus vulputate eu scelerisque felis
            imperdiet
            proin fermentum. Laoreet non curabitur gravida arcu ac tortor. Pulvinar etiam non quam lacus suspendisse
            faucibus
            interdum posuere lorem. Diam sollicitudin tempor id eu nisl. Pharetra vel turpis nunc eget lorem. Mauris
            rhoncus
            aenean
            vel elit scelerisque mauris pellentesque pulvinar. Suspendisse in est ante in nibh mauris. Quis blandit
            turpis
            cursus in
            hac habitasse. Ultrices dui sapien eget mi proin.</p>
    </section>

    <section class="section has-background-light my-3">
        <h2 class="title is-5 my-3">Future</h2>
        <p>Enim ut tellus elementum sagittis vitae. Lacus viverra vitae congue eu. Habitant morbi tristique senectus et
            netus
            et.
            Blandit massa enim nec dui nunc mattis enim ut. Non nisi est sit amet facilisis magna etiam tempor orci.
            Amet
            consectetur adipiscing elit ut aliquam purus. Euismod elementum nisi quis eleifend quam adipiscing. Donec
            enim
            diam
            vulputate ut pharetra sit amet aliquam id. Nibh sit amet commodo nulla facilisi nullam. Nulla aliquet
            porttitor
            lacus
            luctus accumsan tortor posuere ac ut. Tristique nulla aliquet enim tortor at auctor urna nunc id. Cras
            ornare
            arcu
            dui
            vivamus arcu felis bibendum. Egestas purus viverra accumsan in. Eget velit aliquet sagittis id consectetur.
            Pulvinar
            etiam non quam lacus. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Ut placerat
            orci
            nulla
            pellentesque dignissim enim sit amet venenatis.</p>
    </section>
    {% endblock %}