{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3">Welcome to Book Collector</h1>
<h2 class="title is-5">A purely hypothetical demonstration with dubious real world utility.</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Elit ut aliquam purus sit amet. Lacus vel facilisis volutpat est velit egestas dui id. Sed elementum tempus
    egestas sed sed risus pretium quam. Nulla aliquet porttitor lacus luctus accumsan. Nunc sed id semper risus in
    hendrerit
    gravida rutrum. Hendrerit gravida rutrum quisque non tellus orci. A lacus vestibulum sed arcu non odio euismod
    lacinia
    at. Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Porttitor rhoncus dolor purus non. Lacus laoreet non
    curabitur gravida arcu ac. Posuere sollicitudin aliquam ultrices sagittis orci. Nunc sed blandit libero volutpat sed
    cras. Enim nec dui nunc mattis. Vitae elementum curabitur vitae nunc sed velit dignissim. Imperdiet dui accumsan sit
    amet nulla facilisi morbi.
</p>
<p>
    Rhoncus aenean vel elit scelerisque. Est ullamcorper eget nulla facilisi etiam dignissim diam. Blandit massa enim
    nec
    dui nunc mattis enim ut tellus. Ut aliquam purus sit amet. Massa tincidunt nunc pulvinar sapien et ligula. Metus
    aliquam
    eleifend mi in nulla posuere sollicitudin aliquam ultrices. Ut sem nulla pharetra diam sit amet nisl suscipit. Amet
    mattis vulputate enim nulla aliquet porttitor. Ut tortor pretium viverra suspendisse potenti nullam ac. Dui nunc
    mattis
    enim ut tellus. Viverra nibh cras pulvinar mattis. Sit amet est placerat in egestas erat imperdiet sed. Proin libero
    nunc consequat interdum. Odio euismod lacinia at quis risus sed. Urna nunc id cursus metus aliquam eleifend mi in.
</p>
{% endblock %}