{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3">Authors</h1>
<div class="card">
    <div class="card-header">
        <div class="card-header-title">{{author.name}}</div>
    </div>
    <div class="card-content">
        {% for book in author.books.all %}
        <div class="card">
            <div class="card-header">
                <div class="card-header-title"> {{book.title}} </div>
            </div>
            <div class="card-content">
            </div>
            <div class="card-footer">
                <a href="https://www.abebooks.com/servlet/SearchResults?isbn={{book.isbn}}" target="_blank"
                    class="button">Buy</a>
                <a class="button" href="https://www.goodreads.com/search?q={{book.isbn}}" target="_blank">Review</a>
                <a class="button" href="/books/{{book.id}}">Details</a>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="card-footer">
        <a class="button has-text-danger-light has-background-danger" href="/authors/{{author.id}}/delete/">Delete</a>
        <a class="button " href="/authors/">Back To List</a>
    </div>
</div>
{% endblock %}