{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3">Details</h1>
<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            <h2 class="title is-4">{{book.title}} </h2>
        </div>
    </div>
    <div class="card-content">
        <h2 class="title is-5">Details</h2>
        Authors:{%for author in book.authors.all%}
        <a href="/authors/{{author.id}}/">{{author}}</a>,
        {%endfor%}
        <br>
        Published: {{book.publication_date}}
        <br>
        ISBN: {{book.isbn}}
        <h2 class="title is-5">description</h2>
        {{book.description}}
    </div>
    <div class="card-footer">
        <a href="/books/{{book.id}}/delete" class="button has-background-danger has-text-light">Delete</a>
        <a href="/books/{{book.id}}/update" class="button has-background-link has-text-light mr-3">Update</a>
        <a class="button  has-background-info" href="https://www.goodreads.com/search?q={{book.isbn}}"
            target="_blank">Discuss</a>
        <a href="https://www.abebooks.com/servlet/SearchResults?isbn={{book.isbn}}" target="_blank"
            class="button has-background-primary has-text-light">Buy</a>
    </div>
</div>
{% endblock %}