{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3 mt-3">Details</h1>
<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            <h2 class="title is-4">{{book.title}} </h2>
        </div>
    </div>
    <div class="card-content ">
        <h3 class="title is-6 my-3">Details</h2>
            Authors:{%for author in book.authors.all%}
            <a href="/authors/{{author.id}}/">{{author}}</a>,
            {%endfor%}
            <br>
            Published: {{book.publication_date}}
            <br>
            ISBN: {{book.isbn}}
            <section>
                <h3 class="title is-6 my-3">description</h2>
                    {{book.description}}
            </section>
            {% if book.series%}
            <section>
                <h3 class="title is-6 my-3">Series</h2>
                    <a href="/series/{{book.series.id}}/">{{book.series}}</a>
            </section>
            {% endif%}
            {% if book.tags.all%}
            <section>
                <h3 class="title is-6 my-3">Tags</h2>
                    <table>
                        {% for tag in book.tags.all%}
                        <tr>
                            <td>
                                <a href="/tags/{{tag.id}}">{{tag.name}}</a>
                            </td>
                            <td>
                                <a href="/books/{{book.id}}/disassociate_tag/{{tag.id}}"
                                    class="button ml-3 is-small has-background-danger has-text-light is-rounded"> ✖ </a>
                            </td>
                        </tr>
                        {% endfor%}
                    </table>
            </section>
            {% endif%}
            <section>
                <h3 class="title is-6 my-3">Available Tags</h2>
                    <table>
                        {% for tag in available_tags%}
                        <tr>
                            <td>
                                <a href="/tags/{{tag.id}}">{{tag.name}}</a>
                            </td>
                            <td>
                                <a href="/books/{{book.id}}/associate_tag/{{tag.id}}"
                                    class="button ml-3 is-small has-background-primary has-text-light is-rounded"> +
                                </a>
                            </td>
                        </tr>
                        {% endfor%}
                    </table>
            </section>
    </div>
    <div class="card-footer">
        <a href="/books/{{book.id}}/delete" class="button has-background-danger has-text-light">Delete</a>
        <a href="/books/{{book.id}}/update" class="button has-background-link has-text-light">Edit</a>
        <a class="button  has-background-link has-text-light" href="https://www.goodreads.com/search?q={{book.isbn}}"
            target="_blank">Discuss</a>
        <a href="https://www.abebooks.com/servlet/SearchResults?isbn={{book.isbn}}" target="_blank"
            class="button has-background-primary has-text-light">Buy</a>
    </div>
</div>
{% endblock %}