{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3">Books</h1>
{% for book in books%}
<div class="card">
    <div class="card-header">
        <div class="card-header-title">{{book.title}} </div>

    </div>
    <div class="card-content">
        Authors:{%for author in book.authors.all%}
        <a href="/authors/{{author.id}}/">{{author}}</a>,
        {%endfor%}
        <br>
        Published: {{book.publication_date}}
        <br>
        ISBN: {{book.isbn}}
    </div>
    <div class="card-footer">
        <a href="https://www.abebooks.com/servlet/SearchResults?isbn={{book.isbn}}" target="_blank"
            class="button">Buy</a>
        <a class="button" href="https://www.goodreads.com/search?q={{book.isbn}}" target="_blank">Review</a>
        <a class="button" href="/books/{{book.id}}">Details</a>
    </div>
</div>
{% endfor %}
{% endblock %}